<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">
      <img src="../assets/pokemon_brand.png" alt="">
    </a>

    <a role="button" class="navbar-burger" [ngClass]="{'is-active': menuToggled}" aria-label="menu"
      aria-expanded="false" data-target="navbarBasic" (click)="menuToggled = !menuToggled">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu" [ngClass]="{'is-active': menuToggled}">
    <div class="navbar-end">
      <a routerLink="/pokeSearch" class="navbar-item">PokeSearch</a>
      <a routerLink="/whosThatPokemon" class="navbar-item">Who's That Pokemon</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
