<section class="hero is-danger is-medium">
  <div class="hero-body">
    <p class="title">
      PokéSearch
    </p>

    <div class="columns">
      <div class="column is-5">
        <div class="field">
          <div class="control">
            <input type="text" class="input is-rounded" [(ngModel)]="pokemonSearchInput"
              placeholder="Search for a pokemon!">
          </div>
          <p *ngIf="error" class="help is-warning">That's not a real pokémon</p>

        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input (click)="getPokemon()" class="button is-link is-rounded is-focused" type="submit" value="Catch 'Em All!">
      </div>
    </div>


  </div>
</section>
<div class="middle-container">
  <section class="hero pokeball-middle">
    <div class="hero-body">
    </div>
  </section>
</div>


<div *ngIf="currentPokemon" class="container">
  <div class="modal" [ngClass]="{'is-active': modalActive}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{currentPokemon.name[0].toUpperCase() + currentPokemon.name.substring(1)}}</p>
        <button class="delete" (click)="modalActive = false" aria-label="close"></button>
      </header>

      <section class="modal-card-body">

        <figure class="image is-square">
          <img src="{{pokemonImgUrl}}" alt="">
        </figure>

        <p>ID: {{currentPokemon.id}}</p>
        <hr>
        <p>Height: {{currentPokemon.height}} dm</p>
        <hr>
        <p>Types: <span
            *ngFor="let type of currentPokemon.types">{{type.type.name[0].toUpperCase() + type.type.name.substring(1)}}
          </span></p>
      </section>
    </div>
  </div>
</div>
